<%- include('partials/header') %>

<main>
    <%- include('partials/nav') %>
    <h1>Welcome <%= userName %> to <%= bookclubName %></h1> 
    <span>Join Code: <span class="copy-code" data-clubid="<%= clubId %>"><%= clubId %></span></span>
    <h1>You are a<%= accountType === 'instructor' ? 'n' : '' %> <%= accountType[0].toUpperCase() + accountType.slice(1) %></h1>
    <%console.log(students)%>
    <% if (students.length) { %>
        <h1>Students in bookclub are <%= students.join(' ') %></h1>
    <% } else {%>
        <h1>No students in bookclub yet</h1>
    <% } %>
    <% if (accountType === 'instructor') { %>
        <section>
            <div>
                <% if (locals.messages.errors) { %>
                    <% locals.messages.errors.forEach( el => { %>
                        <p><%= el.msg %></p>
                    <% }) %>
                <% } %>
            </div>
            <form action="/bookclub/<%= bookclubID %>/addStudent?_method=PUT" method="POST">
                <label for="studentEmail">Add a student by email</label>
                <input type="text" id="studentEmail" name="studentEmail">
                <button type="submit">Submit</button>
            </form>
        </section>
    <% } %>


</main>

<%- include('partials/footer') %>