<%- include('partials/header') %>

<main>
    <h1>Welcome <%= userName %> to <%= bookclubName %></h1>
    <h1>You are a<%= accountType === 'instructor' ? 'n' : '' %> <%= accountType[0].toUpperCase() + accountType.slice(1) %></h1>
    <%console.log(students)%>
    <h1>Students in class are <%= students.join(' ') %></h1>

    <% if (accountType === 'instructor') { %>
        <section>
            <div>
                <% if (locals.messages.errors) { %>
                    <% locals.messages.errors.forEach( el => { %>
                        <p><%= el.msg %></p>
                    <% }) %>
                <% } %>
            </div>
            <form action="/bookclub/<%= bookclubID %>/addStudent?_method=PUT" method="POST">
                <label for="studentEmail">Add a student by email</label>
                <input type="text" id="studentEmail" name="studentEmail">
                <button type="submit">Submit</button>
            </form>
        </section>
    <% } %>


</main>

<%- include('partials/footer') %>