<%- include('partials/header') %>

<main id="bookclub-main">
    <%- include('partials/nav') %>
    <section id="bookclub-flex-container">
        <!-- Left Section -->
        <section id="thread-section">
            <h1><%= bookclub.name %></h1>
            <!-- Threads -->
            <% if (threads.length) { %>
                <h2>Discussions</h2>
                <section id="threads">
                    <ul>
                        <% threads.forEach(thread => { %>
                            <li class="full-width">
                                <a href="/bookclub/<%= bookclub.id %>/thread/<%= thread.id %>" class="thread">
                                    <h5>Posted by <%= thread.createdBy %> | <%= thread.createdAt.toDateString().split(' ').slice(1).join(' ') %></h5>
                                    <h3><%= thread.title %></h3>
                                    <p><%= thread.description %></p>
                                </a>
                            </li>
                        <% }) %>
                    </ul>
                </section>
            <% } else { %>
                <h2>No Current Discussions</h2>
            <% } %>
            <!-- Thread Form -->
            <section id="form-style-2">
                <h3>Create a New Thread</h3>
                <div>
                    <% if (locals.messages.threadError) { %>
                        <p><%= locals.messages.threadError[0] %></p>
                    <% } %>
                </div>
                <form action="/bookclub/<%= bookclub.id %>/createThread" method="POST">
                    <input name="title" placeholder="Title" type="text">
                    <textarea name="description" placeholder="What are your thoughts?"></textarea>
                    <button type="submit">Submit</button>
                </form>
            </section>
        </section><!--
            Right Section
            Bookclub About
     --><section id="about-section">
            <!-- Bookclub Info -->
            <section id="bookclub-info">
                <h2> About Bookclub</h2>
                <!-- Quick Info -->
                <ul>
                    <li class="bubble">Created on <%= bookclub.createdAt.toDateString().split(' ').slice(1).join(' ') %></li>
                    <li class="bubble"><%= bookclub.readers.length %> Readers</li>
                    <li class="bubble">Created by <%= bookclub.createdBy %></li>
                </ul>
                <p>This Bookclubs Invite Code</p>
                <button title="This Bookclubs Invite Code" class="copy-code bold-600" data-clubid="<%= bookclub.clubId %>"><%= bookclub.clubId %></button>
            </section>
            <!-- Book Info -->
            <section id="book-info">
                <h2>Currently Reading</h2>
                <img src="<%= book.imgLink %>" alt="">
                <h3><%= book.title %></h3>
                <a href="<%= book.infoLink %>" target="_blank">
                    <img src="https://img.icons8.com/windows/32/null/external-link-squared.png"/>
                </a>
                <h4>by <%= book.author %></h4>
                <p><%= book.description %></p>
            </section>
            <!-- Members -->
            <section>
                <section>
                    <h2>Readers</h2>
                    <ul>
                        <% if (bookclub.readers.length) { %>
                            <% bookclub.readers.forEach(reader => { %>
                                <li class="bubble"><%= reader.firstName %></li>
                            <% }) %>
                        <% } else { %>
                            <li class="bubble">No Members Yet</li>
                        <% } %>
                    </ul>
                </section>
            </section>
            <!-- Settings -->
            <section>
                <% if (user.accountType === 'clubmaker') { %>
                    <section id="add-reader-email">
                        <h2>Add a Reader by Email</h2>
                        <div>
                            <% if (locals.messages.errors) { %>
                                <% locals.messages.errors.forEach( el => { %>
                                    <p class="error-message"><%= el.msg %></p>
                                <% }) %>
                            <% } %>
                        </div>
                        <form action="/bookclub/<%= bookclub.id %>/addReader?_method=PUT" method="POST">
                            <label for="readerEmail">Email:</label>
                            <input type="text" id="readerEmail" name="readerEmail">
                            <button type="submit">Submit</button>
                        </form>
                    </section>
                <% } %>
                <% if (user.accountType === 'reader') { %>
                    <button id="leave-button">Leave Bookclub</button>
                <% } %>
            </section>
        </section>
    </section>
</main>

<%- include('partials/footer') %>