<%- include('partials/header') %>

<main id="bookclub-main">
    <%- include('partials/nav') %>
    <section id="bookclub-flex-container">
        <!-- Left Section -->
        <section>
            <h1>Welcome to <%= bookclub.name %></h1>
            <!-- Threads -->
            <% if (threads.length) { %>
                <section id="threads">
                    <ul>
                        <% threads.forEach(thread => { %>
                            <li class="full-width">
                                <a href="/bookclub/<%= bookclub.id %>/thread/<%= thread.id %>" class="thread">
                                    <h3><%= thread.title %></h3>
                                    <p><%= thread.description %></p>
                                </a>
                            </li>
                        <% }) %>
                    </ul>
                </section>
            <% } %>
            <!-- Thread Form -->
            <section id="thread-form">
                <h3>Create a New Thread</h3>
                <div>
                    <% if (locals.messages.threadError) { %>
                        <p><%= locals.messages.threadError[0] %></p>
                    <% } %>
                </div>
                <form action="/bookclub/<%= bookclub.id %>/createThread" method="POST">
                    <input name="title" placeholder="Title" type="text">
                    <textarea name="description" placeholder="What are your thoughts?" rows="5" cols="33"></textarea>
                    <button type="submit">Submit</button>
                </form>
            </section>
        </section><!--
            Right Section
            Bookclub About
        --><section id="about-bookclub">
            <h2>About Bookclub</h2>
            <span class="bubble">Created on <%= new Date(bookclub.createdAt).toDateString().split(' ').slice(1).join(' ') %></span>
            <span class="bubble"><%= bookclub.readers.length %> Readers</span>
            <!-- Book Info -->
            <section id="book-info">
                <img style="float: right; width: 150px;" src="https://covers.openlibrary.org/b/id/9153902-L.jpg" alt="">
                <p>We are currently reading BOOK_NAME</p>
                <p>BOOK_DESCRIPTION</p>
                <ul>
                    <li>BOOK_LINKS</li>
                    <li>BOOK_LINKS</li>
                    <li>BOOK_LINKS</li>
                </ul>
            </section>
            <!-- Member List
            <% if (bookclub.readers.length) { %>
                <section>
                    <p>Readers</p>
                    <ul>
                        <% bookclub.readers.forEach(reader => { %>
                            <li class="full-width"><%= reader.firstName %></li>
                        <% }) %>
                    </ul>
                </section>
            <% } %> -->
            <p>Leave</p>
            <p>Invite more readers by sending them the following code</p>
            <span>Club Code: <span class="copy-code bold-600" data-clubid="<%= bookclub.clubId %>"><%= bookclub.clubId %></span> Simply click to copy!</span>
            <% if (user.accountType === 'clubmaker') { %>
                <section>
                    <div>
                        <% if (locals.messages.errors) { %>
                            <% locals.messages.errors.forEach( el => { %>
                                <p><%= el.msg %></p>
                            <% }) %>
                        <% } %>
                    </div>
                    <form action="/bookclub/<%= bookclub.id %>/addReader?_method=PUT" method="POST">
                        <label for="readerEmail">Add a reader by email</label>
                        <input type="text" id="readerEmail" name="readerEmail">
                        <button type="submit">Submit</button>
                    </form>
                </section>
            <% } %>
        </section>
    </section>
</main>

<%- include('partials/footer') %>