<%- include('partials/header') %>

<main id="feed">
    <%- include('partials/nav') %>
    <% if (bookclubs) { %>
        <section id="bookclubs">
            <h1>Bookclubs</h1>
            <ul>
                <% bookclubs.forEach(bookclub => { %>
                    <li>
                        <a href="/bookclub/<%= bookclub.id %>" class="bookclub-container flex-container">
                            <section class="flex-direction-column">
                                <div class="flex-container">
                                    <h2><%= bookclub.name %></h2>
                                    <% if (bookclub.readers.length) { %>
                                        <span>Club Members: <%= bookclub.readers.length %></span>
                                    <% } else { %>
                                        <span>No Members yet!</span>
                                    <% } %>
                                </div>
                                <div>
                                    <% if (bookclub.recentThread) { %>
                                        <p>Current Discussion:</p>
                                        <p id="thread-preview"><span class="bold-600"><%= bookclub.recentThread.title %></span> - <%= bookclub.recentThread.description %></p>
                                    <% } else { %>
                                        <p>No recent threads</p>
                                    <% } %>
                                </div>
                            </section>
                            <section>
                                <p class="zero-margin">Currently Reading</p>
                                <h4><%= bookclub.bookTitle %></h4>
                                <img src="<%= bookclub.bookImg %>>" alt="">
                            </section>
                        </a>
                    </li>
                <% }) %>
            </ul>
        </section>
    <% } %>
    <div>
        <% if (locals.messages.errors) { %>
            <% locals.messages.errors.forEach( el => { %>
                <p><%= el.msg %></p>
            <% }) %>
        <% } %>
    </div>
    <% if (user.accountType === 'clubmaker') { %>
        <section class="feed-form">
            <h2>Create your very own Bookclub here!</h2>
            <form action="/bookclub" method="POST">
                <label for="name">Name of your Bookclub</label><!--
             --><input type="text" id="name" name="name">
                <label for="book-isbn">Book's ISBN (ISBN-10 or ISBN-13)</label><!--
             --><input type="text" id="book-isbn" name="book-isbn">
                <button type="submit">Create Bookclub</button>
            </form>
        </section>
    <% } else if (user.accountType === 'reader') { %>
        <section class="feed-form">
            <h2>Join a Bookclub today!</h2>
            <p>Simply paste the club code below</p>
            <form action="/bookclub?_method=PUT" method="POST">
                <label for="clubCode">ClubCode</label>
                <input type="text" name="clubCode" id="clubCode">
                <button type="submit">Submit</button>
            </form>
        </section>
    <% } %>
</main>

<%- include('partials/footer') %>