<%- include('partials/header') %>

<main id="feed">
    <%- include('partials/nav') %>
    <% if (bookclubs) { %>
        <section id="bookclubs">
            <h1>Bookclubs</h1>
            <ul>
                <% bookclubs.forEach(x => { %>
                    <li><a href="/bookclub/<%= x.id %>"><%= x.name %></a></li>
                <% }) %>
            </ul>
        </section>
    <% } %>
    <div>
        <% if (locals.messages.errors) { %>
            <% locals.messages.errors.forEach( el => { %>
                <p><%= el.msg %></p>
            <% }) %>
        <% } %>
    </div>
    <section id="create-bookclub-form">
        <form action="/bookclub" method="POST">
            <label for="name">Name of your Bookclub</label>
            <input type="text" id="name" name="name">
            <button type="submit">Create Bookclub</button>
        </form>
    </section>
</main>

<%- include('partials/footer') %>