<%- include('partials/header') %>

<main>
    <%- include('partials/nav') %>
    <h1>Welcome to the BookClub</h1>

    <h1>Your are logged in!</h1>
    <h2>You are a Student!</h2>
    <% if (bookclubs) { %>
        <section>
            <% bookclubs.forEach(x => { %>
                <a href="/bookclub/<%= x.id %>"><%= x.name %></a>
            <% }) %>
        </section>
    <% } %>
    <div>
        <% if (locals.messages.errors) { %>
            <% locals.messages.errors.forEach( el => { %>
                <p><%= el.msg %></p>
            <% }) %>
        <% } %>
    </div>
    <form action="/bookclub?_method=PUT" method="POST">
        <label for="clubCode">Bookclub Code:</label>
        <input type="text" name="clubCode" id="clubCode">
        <button type="submit">Submit</button>
    </form>
    <a href="/logout">Logout</a>
</main>

<%- include('partials/footer') %>