<%- include('partials/header') %>

<main id="feed">
    <%- include('partials/nav') %>
    <% if (bookclubs) { %>
        <section id="bookclubs">
            <h1>Bookclubs</h1>
            <ul>
                <% bookclubs.forEach(bookclub => { %>
                    <li>
                        <a href="/bookclub/<%= bookclub.id %>">
                            <h3 style="display: inline;"><%= bookclub.name %></h3>
                            <% if (bookclub.readers.length) { %>
                                <span>Club Members: <%= bookclub.readers.length %></span>
                            <% } else { %>
                                <span>No Members yet!</span>
                            <% } %>
                            <br>
                            <% if (bookclub.recentThread) { %>
                                <span>Recent Thread: <%= bookclub.recentThread.title %> <%= bookclub.recentThread.description %></span>
                            <% } else { %>
                                <span>No recent threads</span>
                            <% } %>
                        </a>
                    </li>
                <% }) %>
            </ul>
        </section>
    <% } %>
    <div>
        <% if (locals.messages.errors) { %>
            <% locals.messages.errors.forEach( el => { %>
                <p><%= el.msg %></p>
            <% }) %>
        <% } %>
    </div>
    <% if (user.accountType === 'clubmaker') { %>
        <section class="feed-form">
            <h2>Create your very own Bookclub here!</h2>
            <form action="/bookclub" method="POST">
                <label for="name">Name of your Bookclub</label>
                <input type="text" id="name" name="name">
                <button type="submit">Create Bookclub</button>
            </form>
        </section>
    <% } else if (user.accountType === 'reader') { %>
        <section class="feed-form">
            <h2>Join a Bookclub today!</h2>
            <p>Simply paste the club code below</p>
            <form action="/bookclub?_method=PUT" method="POST">
                <label for="clubCode">ClubCode</label>
                <input type="text" name="clubCode" id="clubCode">
                <button type="submit">Submit</button>
            </form>
        </section>
    <% } %>
</main>

<%- include('partials/footer') %>