<%- include('partials/header') %>

<main>
    <%- include('partials/nav') %>
    <section>
        <h1><%= thread.title %></h1>
        <p class="thread-description"><%= thread.description %></p>
    </section>
    <!-- Comments -->
    <% if (comments.length) { %>
        <section>
            <ul>
                <% comments.forEach(comment => { %>
                    <li><%= comment.textContent %> created at <%= new Date(comment.createdAt).toDateString() %> by <%= comment.author %></li><br>
                <% }) %>
            </ul>
        </section>
    <% } %>
    <!-- Comment Form -->
    <section>
        <form action="/bookclub/<%=bookclub.id%>/thread/<%=thread.id%>/createComment" method="POST">
            <textarea name="comment-text" id="comment-text" cols="30" rows="5"></textarea>
            <button type="submit">Submit</button>
        </form>
    </section>
</main>

<%- include('partials/footer') %>