<%- include('partials/header') %>

<main>
    <%- include('partials/nav') %>
    <section>
        <h1><%= thread.title %></h1>
        <p class="thread-description"><%= thread.description %></p>
    </section>
</main>

<%- include('partials/footer') %>